#include "pistolero.dtsi"

&default_transform { // The matrix transform for this board is 6 columns over because the left half is 6 columns wide according to the matrix.
    col-offset = <6>;
};

&kscan0 {
	diode-direction = "col2row";
	col-gpios
		= <&gpio0 1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //Col0
		, <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //Col1
		, <&gpio1 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //Col2
		, <&gpio1 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //Col3
		, <&gpio1 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //Col4
		, <&gpio1 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //Col5
		;
	row-gpios
		= <&gpio0 10  GPIO_ACTIVE_HIGH>    //Row0
		, <&gpio0 3   GPIO_ACTIVE_HIGH>    //Row1
		, <&gpio0 2   GPIO_ACTIVE_HIGH>    //Row2
		, <&gpio0 4   GPIO_ACTIVE_HIGH>    //Row3
		;
};